        <input data-drupal-selector="edit-spots-available" disabled="disabled" type="checkbox" id="edit-spots-available" name="spots_available" value="1" class="form-checkbox" />

        <label for="edit-spots-available" class="option">Show only those with spots available</label>
      </div>
</div>
</details>
<details class="form-wrapper-disabled js-form-wrapper form-wrapper" data-drupal-selector="edit-age" id="edit-age" open="open">    <summary role="button" aria-controls="edit-age" aria-expanded="true">Age</summary><div class="details-wrapper">
    <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-age-from form-item-age-from form-disabled">
      <label for="edit-age-from">From</label>
        <input data-drupal-selector="edit-age-from" disabled="disabled" type="text" id="edit-age-from" name="age_from" value="0" size="60" maxlength="128" class="form-text" />

        </div>
<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-age-to form-item-age-to form-disabled">
      <label for="edit-age-to">To</label>
        <input data-drupal-selector="edit-age-to" disabled="disabled" type="text" id="edit-age-to" name="age_to" value="0" size="60" maxlength="128" class="form-text" />

        </div>
<div id="edit-age-type" class="form-radios"><div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-age-type form-item-age-type form-disabled">
        <input data-drupal-selector="edit-age-type-m" disabled="disabled" type="radio" id="edit-age-type-m" name="age_type" value="M" class="form-radio" />

        <label for="edit-age-type-m" class="option">Months</label>
      </div>
<div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-age-type form-item-age-type form-disabled">
        <input data-drupal-selector="edit-age-type-y" disabled="disabled" type="radio" id="edit-age-type-y" name="age_type" value="Y" checked="checked" class="form-radio" />

        <label for="edit-age-type-y" class="option">Years</label>
      </div>
</div>
</div>
</details>
<input id="edit-ptl" data-drupal-selector="edit-ptl" disabled="disabled" type="hidden" name="ptl" value="" />
<input id="edit-ota" data-drupal-selector="edit-ota" disabled="disabled" type="hidden" name="ota" value="" />
<input id="edit-programs" data-drupal-selector="edit-programs" disabled="disabled" type="hidden" name="programs" value="" />
<input id="edit-activities" data-drupal-selector="edit-activities" disabled="disabled" type="hidden" name="activities" value="" />
<details class="form-wrapper-disabled js-form-wrapper form-wrapper" data-drupal-selector="edit-locations" id="edit-locations" open="open">    <summary role="button" aria-controls="edit-locations" aria-expanded="true">Locations</summary><div class="details-wrapper">
    </div>
</details>
<details class="form-wrapper-disabled js-form-wrapper form-wrapper" data-drupal-selector="edit-daysoftheweek" id="edit-daysoftheweek" open="open">    <summary role="button" aria-controls="edit-daysoftheweek" aria-expanded="true">Days</summary><div class="details-wrapper">
    <div id="edit-days" class="form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-days-mon form-item-days-mon">
        <input data-drupal-selector="edit-days-mon" type="checkbox" id="edit-days-mon" name="days[Mon]" value="Mon" class="form-checkbox" />

        <label for="edit-days-mon" class="option">Monday</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-days-tue form-item-days-tue">
        <input data-drupal-selector="edit-days-tue" type="checkbox" id="edit-days-tue" name="days[Tue]" value="Tue" class="form-checkbox" />

        <label for="edit-days-tue" class="option">Tuesday</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-days-wed form-item-days-wed">
        <input data-drupal-selector="edit-days-wed" type="checkbox" id="edit-days-wed" name="days[Wed]" value="Wed" class="form-checkbox" />

        <label for="edit-days-wed" class="option">Wednesday</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-days-thu form-item-days-thu">
        <input data-drupal-selector="edit-days-thu" type="checkbox" id="edit-days-thu" name="days[Thu]" value="Thu" class="form-checkbox" />

        <label for="edit-days-thu" class="option">Thursday</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-days-fri form-item-days-fri">
        <input data-drupal-selector="edit-days-fri" type="checkbox" id="edit-days-fri" name="days[Fri]" value="Fri" class="form-checkbox" />

        <label for="edit-days-fri" class="option">Friday</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-days-sat form-item-days-sat">
        <input data-drupal-selector="edit-days-sat" type="checkbox" id="edit-days-sat" name="days[Sat]" value="Sat" class="form-checkbox" />

        <label for="edit-days-sat" class="option">Saturday</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-days-sun form-item-days-sun">
        <input data-drupal-selector="edit-days-sun" type="checkbox" id="edit-days-sun" name="days[Sun]" value="Sun" class="form-checkbox" />

        <label for="edit-days-sun" class="option">Sunday</label>
      </div>
</div>
</div>
</details>
<details class="form-wrapper-disabled js-form-wrapper form-wrapper" data-drupal-selector="edit-timesofday" id="edit-timesofday" open="open">    <summary role="button" aria-controls="edit-timesofday" aria-expanded="true">Times</summary><div class="details-wrapper">
    <div id="edit-times" class="form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-times-1 form-item-times-1">
        <input data-drupal-selector="edit-times-1" type="checkbox" id="edit-times-1" name="times[1]" value="1" class="form-checkbox" />

        <label for="edit-times-1" class="option">Before 9 a.m.</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-times-2 form-item-times-2">
        <input data-drupal-selector="edit-times-2" type="checkbox" id="edit-times-2" name="times[2]" value="2" class="form-checkbox" />

        <label for="edit-times-2" class="option">9 a.m. to 12 p.m.</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-times-3 form-item-times-3">
        <input data-drupal-selector="edit-times-3" type="checkbox" id="edit-times-3" name="times[3]" value="3" class="form-checkbox" />

        <label for="edit-times-3" class="option">12 p.m. to 3 p.m.</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-times-4 form-item-times-4">
        <input data-drupal-selector="edit-times-4" type="checkbox" id="edit-times-4" name="times[4]" value="4" class="form-checkbox" />

        <label for="edit-times-4" class="option">3 p.m. to 6 p.m.</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-times-5 form-item-times-5">
        <input data-drupal-selector="edit-times-5" type="checkbox" id="edit-times-5" name="times[5]" value="5" class="form-checkbox" />

        <label for="edit-times-5" class="option">After 6 p.m.</label>
      </div>
</div>
</div>
</details>
<input data-drupal-selector="form-mrc1j5tatldmksqheuikpall-qh0bjf3c92utecbmhq" type="hidden" name="form_build_id" value="form-MRC1j5TatldMKSqhEuiKPALL-qH0bJF3C92uteCBmhQ" />
<input data-drupal-selector="edit-perfectmind-filters-block-form" type="hidden" name="form_id" value="perfectmind_filters_block_form" />
<input data-drupal-selector="edit-honeypot-time" type="hidden" name="honeypot_time" value="SsNDuliWHXVIyILkxXfp4IWo7WhT-EYtsOFyFJaCplE" />
<div class="link-textfield js-form-wrapper form-wrapper" style="display: none !important;"><div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-link form-item-link">
      <label for="edit-link">Leave this field blank</label>
        <input autocomplete="off" data-drupal-selector="edit-link" type="text" id="edit-link" name="link" value="" size="20" maxlength="128" class="form-text" />

        </div>
</div>

</form>

  <div class="perfectmind-update-results-bottom">
    <button class="update-results">Update Results</button>
  </div>
</div>
<script id="GroupTemplate" type="text/x-jquery-tmpl">
  <details class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper pm-group-${id}">
    <summary aria-expanded="false" aria-pressed="false">
      <span class="fieldset-legend">${name}</span>
    </summary>
    <div class="details-wrapper"></div>
  </details>
</script>
<script id="ActivityTemplate" type="text/x-jquery-tmpl">
  <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox">
    <input type="checkbox" id="edit-activity-${id}" name="activities[]" value="${id}" class="form-checkbox" disabled="disabled" />
    <label for="edit-activity-${id}" class="option">${name}</label>
  </div>
</script>
<script id="RegionTemplate" type="text/x-jquery-tmpl">
  <details class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper pm-region-${ID}">
    <summary aria-expanded="false" aria-pressed="false">
      <span class="fieldset-legend">${Name}</span>
    </summary>
    <div class="details-wrapper"></div>
  </details>
</script>
<script id="LocationTemplate" type="text/x-jquery-tmpl">
  <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox">
    <input type="checkbox" id="edit-location-${ID}" name="locations[]" value="${ID}" class="form-checkbox" disabled="disabled" />
    <label for="edit-location-${ID}" class="option">${Name}</label>
  </div>
</script>
<script id="AllLocationsTemplate" type="text/x-jquery-tmpl">
  <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox">
    <input type="checkbox" id="edit-all-locations" name="all_locations" value="1" class="form-checkbox" disabled="disabled" />
    <label for="edit-all-locations" class="option">Select all locations</label>
  </div>
</script>
  </div>
<div id="block-perfectmindselections" class="block block-nvrc-perfectmind block-perfectmind-selections-block">
  
    
      <div class="perfectmind-selections-block-wrapper">
  <form class="perfectmind-selections-block-form" data-drupal-selector="perfectmind-selections-block-form" action="/programs-memberships/find-program/results?programs=Early%20Years%3A%20On%20My%20Own/Early%20Years%3A%20Parent%20Participation&amp;activities=activities_camps/activities_learn_and_play/activities_martial_arts/activities_swimming/arts_culture_dance/arts_culture_visual_arts&amp;locations=0ca97f73-c2d6-45b9-b9a3-8d3346945ca8/ad9f1d30-91c6-4779-a5fd-e0109e69a8d6/e153c19a-14a3-4b81-a121-13f1ec7405fc/ffbf31ae-84f3-495b-83d1-1a7f573db3c8/1b275d54-b65d-4169-94cd-847d1644ccc7/143ff434-0589-4785-9f34-334cfc713c2b/9c388e73-ed3c-4f82-85bd-cc6cf0fb0a68/f67610ba-64ff-4176-9f59-81b27a23cbab/72be6805-1624-446d-9597-b70401b78293/e5aebf2f-6163-43d8-b780-a90379b62026" method="post" id="perfectmind-selections-block-form" accept-charset="UTF-8">
  <details data-drupal-selector="edit-selected-categories" id="edit-selected-categories" class="js-form-wrapper form-wrapper" open="open">    <summary role="button" aria-controls="edit-selected-categories" aria-expanded="true">Categories</summary><div class="details-wrapper">
    </div>
</details>
<details data-drupal-selector="edit-selected-activities" id="edit-selected-activities" class="js-form-wrapper form-wrapper" open="open">    <summary role="button" aria-controls="edit-selected-activities" aria-expanded="true">Activities</summary><div class="details-wrapper">
    </div>
</details>
<input data-drupal-selector="form-ns4leeku9x501mnlll-h-ddlpzlk53xdqsskxd-dqw" type="hidden" name="form_build_id" value="form--Ns4LEEku9x501Mnlll_h-DdlPZlK53XDQSskxd_DQw" />
<input data-drupal-selector="edit-perfectmind-selections-block-form" type="hidden" name="form_id" value="perfectmind_selections_block_form" />
<input data-drupal-selector="edit-honeypot-time" type="hidden" name="honeypot_time" value="tDOId0CCcb9cdCgf07gIFmBbF_ht60FgOKZ3XEEycug" />
<div class="link-textfield js-form-wrapper form-wrapper" style="display: none !important;"><div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-link form-item-link">
      <label for="edit-link--2">Leave this field blank</label>
        <input autocomplete="off" data-drupal-selector="edit-link" type="text" id="edit-link--2" name="link" value="" size="20" maxlength="128" class="form-text" />

        </div>
</div>

</form>

      <div class="perfectmind-selections-block-back"><a href="/programs-memberships/find-program">Back</a></div>
  </div>
  </div>

  </div>
											</aside>
						<div class="basic-page col-4-5 right">
				  <div class="region region-highlighted">
    <div data-drupal-messages-fallback class="hidden"></div>

  </div>

				<a id="main-content" tabindex="-1"></a>				<div class="col-1-1 content-title">
					<div class="col-4-5">  <div class="region region-title">
    <div id="block-nvrc-page-title" class="block block-core block-page-title-block">
  
    
      
  <h1 class="page-title"><span class="field field--name-title field--type-string field--label-hidden">Activity Search Results</span>
</h1>


  </div>

  </div>
</div>
					<div class="share-btn col-1-5 right">
						<i class="share-icon"></i>
						<div class="share42init" data-url="<?php print url(drupal_get_path_alias(), array('absolute' => TRUE)); ?>" data-title="<?php print drupal_get_title(); ?>"></div>
					</div><!-- /.share-btn -->
				</div>

				

				
				
				
				  <div class="region region-content">
    <div id="block-nvrc-nvrc" class="block block-system block-system-main-block">
  
    
      
<article data-history-node-id="13970" about="/programs-memberships/find-program/results" class="node node--type-page node--view-mode-full">

  
    

  
  <div class="node__content">
    
<div class="field field--name-field-content-rows field--type-entity-reference-revisions field--label-hidden o-content-rows" property="schema:text">
  <div class="o-content-rows__row">  <div class="paragraph paragraph--type--content paragraph--view-mode--default">
          
            <div class="clearfix text-formatted field field--name-field-content field--type-text-long field--label-hidden field__item"><p>Below are the activities matching the search options you chose. Refine your choices in the left margin.</p>
</div>
      
      </div>
</div></div>
  </div>

</article>

  </div>
<div id="block-perfectmindresults" class="block block-nvrc-perfectmind block-perfectmind-results-block">
  
    
        <div class="results-description">
    
  </div>
<div class="perfectmind-results"></div>
<div class="perfectmind-bookmarks">
  <a class="btn btn-blue-lgt right" href="/programs-memberships/find-program/program-bookmarks"><i class="material-icons"></i>Program Bookmarks</a>
  After bookmarking programs you can view them on the <a href="/programs-memberships/find-program/program-bookmarks">Program Bookmarks</a> page.
</div>
<script id="ResultsEmptyTemplate" type="text/x-jquery-tmpl">
  <div class="perfectmind-results-empty">
    <p>There are no activities found with your selections.</p>
  </div>
</script>
<script id="ActivityTypeTemplate" type="text/x-jquery-tmpl">
  <div id="ActivityType${Type}" class="activity-type">
    <div class="activity-type-title">
      <i class="ota-${Type}"></i>
      <h2 class="title">
        {{if Type == 'bav' }}
          Book-A-Visit
        {{else}}
          Drop-in Schedules
        {{/if}}
      </h2>
      <p>
        {{if Type == 'bav' }}
          Require advanced registration, pre-booking or to pay in advanced.
        {{else}}
          Available on a first-come, first-served basis.
        {{/if}}
      </p>
    </div>
    <div class="activity-type-activity-services"></div>
  </div>
</script>
<!-- Dropins -->
<script id="DropinsDateTemplate" type="text/x-jquery-tmpl">
  <details id="DropinsDate${ID}" class="dropins-date">
    <summary class="dropins-date-header">
      <div class="dropins-date-title">${Name}<span class="count">${event_count} drop-in(s)</span></div>
    </summary>
    <div class="dropins-date-events details-wrapper"></div>
  </details>
</script>
<script id="DropinsActivityTemplate" type="text/x-jquery-tmpl">
  <details id="DropinsActivity${ID}" class="dropins-activity">
    <summary class="dropins-activity-header">
      <div class="title">${Name}</div>
    </summary>
    <div class="dropins-activity-services details-wrapper"></div>
  </details>
</script>
<script id="DropinsServiceTemplate" type="text/x-jquery-tmpl">
  <details id="DropinsService${ID}" class="dropins-service">
    <summary class="dropins-service-header">
      <div class="title">${Name}</div>
    </summary>
    <div class="dropins-service-events details-wrapper">
      {{if Description }}
        <div class="dropins-service-description">${Description}</div>
      {{/if}}
    </div>
  </details>
</script>
<script id="DropinsEventTemplate" type="text/x-jquery-tmpl">
  <div id="DropinsEvent${ID}" class="dropins-event" data-spots="${Remaining}" data-days="${Days}" data-startdate="${SessionFirstDate}" data-enddate="${SessionLastDate}" data-minimumage="${MinimumAge}" data-maximumage="${MaximumAge}" data-days="${Days}" data-times="${Times}">
    <div class="dropins-event-info">
      <div class="dropins-event-title">${Subject}</div>
      <!--TODO: Link location to location page /perfectmind/location/${location_id} -->
      <div class="dropins-event-location">${Location.Name}</div>
      {{if Facility }}
        <!--TODO: Link facility to google maps https://maps.google.com/?q=${Street}, ${City} -->
        <div class="dropins-event-facility">${Facility.RecordName}</div>
      {{/if}}
    </div>
    <div class="dropins-event-schedule">
      <div class="dropins-event-days">${Days}</div>
      <div class="dropins-event-date-range">${DateRange}</div>
      <div class="dropins-event-time-range">${TimeRange}</div>
      {{if Exclusions}}
        <div class="dropins-event-exclusions">
          <strong>Exclusions:</strong>
          {{each Exclusions}}
            <div class="dropins-event-exclusion">${StartDate}</div>
          {{/each}}
        </div>
      {{/if}}
    </div>
    <div class="dropins-event-age-fees">
      <div class="dropins-event-age-range">${AgeRange}</div>
      <div class="dropins-event-fees">
        <a href="/programs-memberships/register-program/fees" target="_blank">Admission Fees</a>
      </div>
    </div>
    <div class="dropins-event-course-id">
      Course ID:<br />
      ${EventID}
    </div>
    {{if AlertMessage }}
      <div class="dropins-event-alert">${AlertMessage}</div>
    {{/if}}
  </div>
</script>
<!-- Programs -->
<script id="ProgramsActivityTemplate" type="text/x-jquery-tmpl">
  <details id="ProgramsActivity${ID}" class="programs-activity">
    <summary class="programs-activity-header">
      <div class="title">${Name}</div>
    </summary>
    <div class="programs-activity-services details-wrapper"></div>
  </details>
</script>
<script id="ProgramsServiceTemplate" type="text/x-jquery-tmpl">
  <details id="ProgramsService${ID}" class="programs-service">
    <summary class="programs-service-header">
      <div class="title">${Name}</div>
    </summary>
    <div class="programs-service-events details-wrapper">
      {{if Description }}
        <div class="programs-service-description">${Description}</div>
      {{/if}}
    </div>
  </details>
</script>
<script id="ProgramsEventTemplate" type="text/x-jquery-tmpl">
  <div id="ProgramsEvent${ID}" class="programs-event" data-spots="${Remaining}" data-days="${Days}" data-startdate="${SessionFirstDate}" data-enddate="${SessionLastDate}" data-minimumage="${MinimumAge}" data-maximumage="${MaximumAge}" data-days="${Days}" data-times="${Times}">
    <div class="programs-event-info">
      <div class="programs-event-title">${Subject}</div>
      <div class="programs-event-location"><a href="/perfectmind/location/${LocationId}">${Location.Name}</a></div>
      {{if Facility }}
        <!--TODO: Link facility to google maps https://maps.google.com/?q=${Street}, ${City} -->
        <div class="programs-event-facility">${Facility.RecordName}</div>
      {{/if}}
    </div>
    <div class="programs-event-schedule">
      <div class="programs-event-days">${Days}</div>
      <div class="programs-event-date-range">${DateRange}</div>
      <div class="programs-event-time-range">${TimeRange}</div>
      <!--TODO: Add exclusions -->
    </div>
    <div class="programs-event-age-price">
      <div class="programs-event-age-range">${AgeRange}</div>
      <div class="programs-event-price-range">
        {{if Activity.Type == 'bav' }}
          <a href="/programs-memberships/register-program/fees" target="_blank">Admission Fees</a>
        {{else}}
          {{if Prices}}
            {{each Prices}}
              {{if PriceType}}
                <div class="programs-event-fee">${PriceType.RecordName}: ${Price}</div>
              {{/if}}
            {{/each}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="programs-event-course-id">
      Course ID:<br />
      <a href="https://nvrc.perfectmind.com/23734/Clients/BookMe4LandingPages/CoursesLandingPage?widgetId=a28b2c65-61af-407f-80d1-eaa58f30a94a&embed=False&redirectedFromEmbededMode=False&courseId={{if ParentId}}${ParentId}{{else}}${ID}{{/if}}" target="_blank">${EventID}</a>
    </div>
    {{if AlertMessage }}
      <div class="programs-event-alert">${AlertMessage}</div>
    {{/if}}
    <div class="programs-event-details" style="display:none">
      <div class="programs-event-registration">Registration date: ${TemplateDateTime(RegistrationStartDateTime)}</div>
      <div class="programs-event-sessions-spots">Spots available: <span class="programs-event-sessions-spots-sessions-remaining programs-event-sessions-spots-sessions--${Remaining}">${Remaining}</span></div>
      <div class="programs-event-buttons">
        <a class="button button-bookmark" data-id="${ID}">Bookmark</a>
        <a class="button button-all-details" href="/perfectmind/event/${ID}">All Details</a>
        <a class="button button--pm-alt" href="https://nvrc.perfectmind.com/23734/Clients/BookMe4LandingPages/CoursesLandingPage?widgetId=a28b2c65-61af-407f-80d1-eaa58f30a94a&embed=False&redirectedFromEmbededMode=False&courseId={{if ParentId}}${ParentId}{{else}}${ID}{{/if}}" target="_blank">Register</a>
      </div>
    </div>
  </div>
</script>

  </div>

  </div>


				
				  <div class="region region-content-bottom">
    <div id="block-nvrc-breadcrumbs" class="block block-system block-system-breadcrumb-block">
  
    
        <nav class="a-breadcrumb__nav" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
    <ol class="a-breadcrumb__list">
          <li class="a-breadcrumb__list-item"><a href="/" class="a-breadcrumb__link">Home</a></li>      <li class="a-breadcrumb__list-item"><a href="/programs-schedules-fitness" class="a-breadcrumb__link">Programs, Schedules &amp; Fitness</a></li>      <li class="a-breadcrumb__list-item"><a href="/programs-memberships/find-program" class="a-breadcrumb__link">Activity Search Tool</a></li>      <li class="a-breadcrumb__list-item">Activity Search Results</li>    </ol>
  </nav>

  </div>

  </div>

				
			</div>
		</div>
	<div class="col-1-1 page-footer">
    <div class="region region-whats-new">
    <div class="views-element-container block block-views block-views-blockwhat-s-new-block-1" id="block-views-block-what-s-new-block-1">
  
      <h2>News &amp; Stories</h2>
    
      <div><div class="o-whats-new-list view view-what-s-new view-id-what_s_new view-display-id-block_1 js-view-dom-id-94e1a3fe19e67e9ce7017a2dfcb39651c505833af78c1ef051930c788e881200">
  
    
      
      <div class="view-content">
          <div class="views-row"><div class="views-field views-field-field-text2"><div class="field-content"><a href="/notices-events-blog/whats-new/50-years-fun-ron-andrews-community-recreation-centre" hreflang="en">Ron Andrews Community Recreation Centre</a></div></div><div class="views-field views-field-field-keywords"><div class="field-content"></div></div><div class="views-field views-field-field-text"><div class="field-content">Celebrating 50 years</div></div></div>
    <div class="views-row"><div class="views-field views-field-field-text2"><div class="field-content"><a href="/DanceWorkshops" hreflang="en">Free summer dance workshops</a></div></div><div class="views-field views-field-field-keywords"><div class="field-content"></div></div><div class="views-field views-field-field-text"><div class="field-content">Bust a move</div></div></div>

    </div>
  
          </div>
</div>

  </div>

  </div>

    <div class="region region-footer-page">
    <div class="views-element-container block block-views block-views-blocktiles-block-2" id="block-views-block-tiles-block-2">
  
    
      <div><div class="view view-tiles view-id-tiles view-display-id-block_2 js-view-dom-id-523a80588247670b497d0bbf9bb03cd9ceb7ee0f6afb3d6f8300f9beff5ca630">
  
    
      
      <div class="view-content">
          <div class="views-row"><div class="views-field views-field-nothing"><span class="field-content"><div class="col-1-2 tile-image">  <a href="/node/231512" hreflang="en"><img loading="lazy" src="/sites/default/files/styles/tile_image_248x288_/public/2022-10/tile-placeholder-1b.jpg?itok=vlun8Qqh" width="245" height="294" typeof="Image" class="image-style-tile-image-248x288-" />

</a>
</div>
<div class="col-1-2 tile-details"><a href="/public-art" class="wrapper"><div class="tile-title">Public Art<i class="material-icons">&#xE315;</i></div>
<div class="tile-teaser">North Vancouver is home to more than 200 public artworks spread across the North Shore, animating streetscapes and integrated into the natural environment.</div></a></div></span></div><div class="views-field views-field-edit-node"><span class="field-content"></span></div></div>
    <div class="views-row"><div class="views-field views-field-nothing"><span class="field-content"><div class="col-1-2 tile-image">  <a href="/node/231513" hreflang="en"><img loading="lazy" src="/sites/default/files/styles/tile_image_248x288_/public/2022-10/homepage-membership.jpg?itok=aFnDXyqH" width="245" height="294" alt="NVRC membership" typeof="Image" class="image-style-tile-image-248x288-" />

</a>
</div>
<div class="col-1-2 tile-details"><a href="/facilities-fields/locations-hours/fitness-centres" class="wrapper"><div class="tile-title">Find Your Fitness Centre<i class="material-icons">&#xE315;</i></div>
<div class="tile-teaser">No matter your fitness level, you can develop your strength, cardio and agility at one of our fitness centres.</div></a></div></span></div><div class="views-field views-field-edit-node"><span class="field-content"></span></div></div>

    </div>
  
          </div>
</div>

  </div>

  </div>

</div>
<footer id="footer" class="footer-wrap col-1-1" role="contentinfo">
    <div class="col-1-1 footer-features">  <div class="region region-footer">
